section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e5989b;
    width: 95%;
    height: 95%
}

#ems h1 {
    font-size: 40px;
    border: 1px solid black;
    text-align: center;
}

#ems h2 {
    font-size: 2em;
    margin-left: 1em;
}

#ems p {
    font-size: 0.8em;
}

#ems {
    font-size: 30px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: goldenrod;
    color: white;
}

#ems ul {
    font-size: 1.5em;
}

#rems ul{
    font-size: 1.5rem;
}